In [34]:
import pandas as pd

In [35]:
lesson_df = pd.read_csv("LessonStreaks.csv", parse_dates=["date"])
print(len(lesson_df))
lesson_df.head()

892572

        id  lesson_id       date    user_id        user_name
0  7830319    7643543 2025-05-01  205139497        Ike Pivot
1  7830320   54486981 2025-05-01  210895353    Inosuke Ortiz
2  7830321    6713046 2025-05-01  188456341  Hermione Miller
3  7830322   46804517 2025-05-01  191335864     Piper Palmer
4  7830323   12624656 2025-05-01  188981754    Indy Maverick

In [36]:
lesson_df = lesson_df.sort_values(['user_id', 'date']).drop_duplicates(['user_id', 'date'])
lesson_df

             id  lesson_id       date    user_id       user_name
9330    7839783   63658156 2025-05-01    8226413     Aeris Stone
41178   7872349   63658157 2025-05-05    8226413     Aeris Stone
45072   7876346   63658171 2025-05-06    8226413     Aeris Stone
51344   7882741   63658176 2025-05-07    8226413     Aeris Stone
123456  7956420   64983797 2025-05-21    8226413     Aeris Stone
...         ...        ...        ...        ...             ...
891847  8740932    7690489 2025-09-29  232533085  Zelda Robinson
892401  8741494    7644025 2025-09-29  232534589   Zelda Daniels
892007  8741094    7690862 2025-09-29  232534757  Quinn Campbell
892116  8741205   26637430 2025-09-29  232536334     Hulk Holmes
892415  8741509   26637430 2025-09-29  232537652     Nico Photon

[72344 rows x 5 columns]

In [37]:
lesson_df['streak_group'] = lesson_df.groupby('user_id')['date'].diff().dt.days.ne(1).cumsum()

In [38]:
streaks = (
    lesson_df.groupby(['user_id', 'streak_group'])
    .agg(streak_start=('date', 'min'),
         streak_end=('date', 'max'),
         streak_length=('date', 'count'))
    .reset_index(drop=True)
)

In [39]:
target = pd.Timestamp('2025-09-28')

In [40]:
active_streaks = streaks[(streaks['streak_start'] <= target) & (streaks['streak_end'] >= target)]

In [42]:
leaderboard = active_streaks.sort_values('streak_length', ascending=False).reset_index(drop=True).head(10)
leaderboard

  streak_start streak_end  streak_length
0   2025-05-01 2025-09-29            152
1   2025-05-31 2025-09-29            122
2   2025-06-01 2025-09-29            121
3   2025-06-25 2025-09-29             97
4   2025-07-03 2025-09-29             89
5   2025-07-13 2025-09-29             79
6   2025-07-15 2025-09-29             77
7   2025-08-07 2025-09-29             54
8   2025-08-09 2025-09-29             52
9   2025-08-11 2025-09-29             50