In [35]:
import pandas as pd

In [36]:
user_df = pd.read_csv("users.csv", parse_dates=["created_at"]) # make sure to parse the dates
activity_df = pd.read_csv("activity.csv", parse_dates=["date"])

print(user_df.head())
print(activity_df.head())

   id created_at country_code
0   1 2023-05-26           CA
1   2 2023-06-15           CA
2   3 2023-07-18           MX
3   4 2023-07-27           CA
4   5 2023-09-01           US
   id  user_id       date                movie_name  finished
0   1        2 2023-06-22  The Shawshank Redemption         1
1   2        1 2023-07-23                     Shrek         0
2   3        4 2023-07-27                Fight Club         1
3   4        1 2023-08-23         Top Gun: Maverick         0
4   5        4 2023-08-24               Oppenheimer         0

In [ ]:
merged_df = pd.merge(
    user_df,
    activity_df,
    how="right",
    left_on="id",
    right_on="user_id"
)
merged_df.head()

In [38]:
finished_df = merged_df[merged_df['finished'] == True]

In [49]:
summary = finished_df.groupby("user_id").agg(
    first_movie_date=("date", "min"),
    last_movie_date=("date", "max"),
    first_movie_finished = ("movie_name", "first"),
    last_movies_finished=("movie_name", "last"),
    movies_finished=("finished", "sum")
).reset_index()

In [50]:
get_fight_club = summary[summary['last_movies_finished'] == 'Fight Club']
get_fight_club

,user_id,first_movie_date,last_movie_date,first_movie_finished,last_movies_finished,movies_finished
1,2,2023-06-22,2025-05-01,The Shawshank Redemption,Fight Club,12
17,18,2024-10-01,2025-05-16,Fight Club,Fight Club,28
19,20,2024-11-27,2025-05-02,Luca,Fight Club,19